.partners {

  &__info {
    row-gap: 30px;
    margin-bottom: 70px;
    max-width: 488px;

    @media screen and (max-width: 1024px) {
      margin-bottom: 40px;
      row-gap: 20px;
    }

    @media screen and (max-width: 576px) {
      margin-bottom: 20px;
      row-gap: 10px;
    }
  }

  &__item {
    row-gap: 25px;
    grid-template-rows: min-content min-content 1fr;
    box-shadow: var(--box-shadow-primary);
    border-radius: var(--border-radius-primary);
    padding: 30px 22px 22px 22px;
    min-height: 446px;
    background-color: var(--white-color);

    @media screen and (max-width: 768px) {
      min-height: 300px;
    }

    @media screen and (max-width: 576px) {
      min-height: auto;
      row-gap: 15px;
      padding: 25px 18px 18px 18px;
    }
  }

  &__slider {
    min-width: auto;
  }

  &__details {
    row-gap: 10px;
  }

  .splide__slide {
    padding: 15px 5px 25px 5px;
  }
}
